{%extends 'layout.html' %}

{% block body %}

<text class="display-4 font-weight-normal" >{{person["name"]}}</text>

<div class="list-group"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="list-group"></div>

<canvas id="myChart"></canvas>

{{temps}}

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
var scatterChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'My Temperature VS Days Since Start',
            data: [{
                x: 0,
                y: 0
            }
            ]
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
});
</script>
    </table>
{% endblock %}