{%extends 'layout.html' %}

{% block body %}

<text class="display-4 font-weight-normal" ></text>

<div class="list-group"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="list-group"></div>

<form action="" method="post" class="form-inline mt-2 mt-md-0">
            {{search.search(class="form-control mr-sm-2", placeholder="Search")}}
            {{search.submit(class="btn btn-outline-success my-2 my-sm-0")}}
          </form>


<canvas id="myChart"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
var scatterChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Average Temprature VS Days Since Start',
            data: [{
                x: 0,
                y: 98.5
            }, {
                x: 1,
                y: 98.4
            }, {
                x: 2,
                y: 98.3
            },{
                x: 3,
                y: 98.2
            }, {
                x: 4,
                y: 98
            }, {
                x: 5,
                y: 98.5
            }]
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
});
</script>
    </table>
{% endblock %}